<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="finalProj" connectionString="Data Source=finalprojectbom.database.windows.net;Initial Catalog=FinalProject;User ID=finalproject;Password=Qwe123!@#"/>
  </connectionStrings>
  <appSettings>
    <add key="apiKey" value="iTK7s%2Fzqx%2BryS2LJoVUsUlYMRuHqxtez6UB7TdDdf%2FZNdvCjoilYCNJWbX%2BfX7ZXum2O8mQ8tn3mal2jzuplRA%3D%3D"/>
  </appSettings>
</configuration>